---
import Page from "../../../layouts/page.astro";
import IntroSection from "../../../components/intro-section.astro";
import { Image } from "astro:assets";
import {
	withLangPaths,
	useTranslatedPath,
	useTranslations,
} from "../../../i18n/utilities";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const pages = (
	await getCollection("garden", ({ data }) => {
		return import.meta.env.PROD ? data.draft !== true : true;
	})
).sort(
	(a: CollectionEntry<"garden">, b: CollectionEntry<"garden">) =>
		b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf(),
);

export async function getStaticPaths() {
	return await withLangPaths();
}

let { lang = "en" } = Astro.params;
let t = useTranslations(lang);
let translatePath = useTranslatedPath(lang);

const specialPageCount = 1; // non-collection pages, e.g. photography
const pageCount = specialPageCount + pages.length;
---

<Page title={t("garden.title")} description={t("themes.description")}>
	<IntroSection
		headline={t("garden.title")}
		subheadline={t("garden.description")}
		callout={`${pageCount} ${t("garden.articles")}`}
	/>

	<div class="h-page-top"></div>

	<section class="wrapper animate-enter" style="--stagger: 3">
		<article>
			<a
				href={translatePath("/garden/photography")}
				aria-labelledby="photography-title"
				aria-describedby="photography-description"
				class="isolate mb-4 flex w-full flex-col items-center overflow-clip rounded-3xl border border-overlay bg-surface p-6 transition hover:border-iris/20 hover:bg-iris/5 sm:flex-row sm:p-4"
			>
				<div class="mb-8 shrink-0 sm:mr-8 sm:mb-0 sm:w-64">
					<Image
						src="https://raw.githubusercontent.com/rose-pine/wallpapers/main/moon.jpg"
						alt="Moon"
						width="2000"
						height="1200"
						layout="full-width"
						fit="cover"
						position="top"
						class="w-full rounded-2xl border border-overlay"
					/>
				</div>
				<div class="w-full">
					<h2
						id="photography-title"
						class="mb-2 text-2xl font-semibold tracking-tight sm:mb-1"
					>
						{t("garden.photography.title")}
					</h2>
					<div id="photography-description" class="text-subtle">
						{t("garden.photography.description")}
					</div>
				</div>
			</a>
		</article>
		{
			pages.map((page) => (
				<article>
					<a
						href={translatePath(`/garden/${page.id}`)}
						aria-labelledby={`${page.id}-title`}
						aria-describedby={`${page.id}-description`}
						class="isolate mb-4 flex w-full flex-col items-center overflow-clip rounded-3xl border border-overlay bg-surface p-6 transition hover:border-iris/20 hover:bg-iris/5 sm:flex-row sm:p-4"
					>
						<div class="mb-8 shrink-0 sm:mr-8 sm:mb-0 sm:w-64">
							<Image
								src={page.data.image}
								alt={page.data.title}
								width="2000"
								height="1200"
								layout="full-width"
								fit="cover"
								position="top"
								class="w-full rounded-2xl border border-overlay"
							/>
						</div>
						<div class="w-full">
							<h2
								id={`${page.id}-title`}
								class="mb-2 text-2xl font-semibold tracking-tight sm:mb-1"
							>
								{page.data.title}
							</h2>
							<div id={`${page.id}-description`} class="mb-2 text-subtle">
								{page.data.description}
							</div>
							<div class="text-sm text-muted italic">
								Published on{" "}
								{page.data.publishedAt.toLocaleString(lang, {
									dateStyle: "long",
								})}
							</div>
						</div>
					</a>
				</article>
			))
		}
	</section>
</Page>
