---
import Page from "../../../layouts/page.astro";
import IntroSection from "../../../components/intro-section.astro";
import { Image } from "astro:assets";
import {
	withLangPaths,
	useTranslatedPath,
	useTranslations,
} from "../../../i18n/utilities";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const garden = (
	await getCollection("garden", ({ data }) => {
		return import.meta.env.PROD ? data.draft !== true : true;
	})
).sort(
	(a: CollectionEntry<"garden">, b: CollectionEntry<"garden">) =>
		b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf(),
);

export async function getStaticPaths() {
	return await withLangPaths();
}

let { lang = "en" } = Astro.params;
let t = useTranslations(lang);
let translatePath = useTranslatedPath(lang);
---

<Page title={t("garden.title")} description={t("themes.description")}>
	<IntroSection
		headline={t("garden.title")}
		subheadline={t("garden.description")}
		callout={`${garden.length} ${garden.length === 1 ? "post" : "posts"}`}
	/>

	<div class="h-page-top"></div>

	<section class="wrapper animate-enter" style="--stagger: 3">
		{
			garden.map((post) => (
				<article>
					<a
						href={translatePath(`/garden/${post.id}`)}
						aria-labelledby={post.id}
						class="isolate mb-4 flex w-full flex-col items-center overflow-clip rounded-3xl border border-overlay bg-surface p-6 transition hover:border-iris/20 hover:bg-iris/5 sm:flex-row sm:p-4"
					>
						<div class="mb-8 shrink-0 sm:mr-8 sm:mb-0 sm:w-64">
							<Image
								src={post.data.image}
								alt={post.data.title}
								width="2000"
								height="1200"
								layout="full-width"
								fit="cover"
								position="top"
								class="w-full rounded-2xl border border-overlay"
							/>
						</div>
						<div class="w-full">
							<h2
								class="mb-2 text-2xl font-semibold tracking-tight sm:mb-1"
								id={post.id}
							>
								{post.data.title}
							</h2>
							<div class="text-subtle" id={post.id}>
								{post.data.description}
							</div>
						</div>
					</a>
				</article>
			))
		}
	</section>
</Page>
