---
import { getCollection, type CollectionEntry } from "astro:content";
import ContentCard from "../../../components/content-card.astro";
import IntroSection from "../../../components/intro-section.astro";
import {
	useTranslatedPath,
	useTranslations,
	withLangPaths,
} from "../../../i18n/utilities";
import Page from "../../../layouts/page.astro";

const pages = (
	await getCollection("garden", ({ data }) => {
		return import.meta.env.PROD ? data.draft !== true : true;
	})
).sort(
	(a: CollectionEntry<"garden">, b: CollectionEntry<"garden">) =>
		b.data.publishedAt.valueOf() - a.data.publishedAt.valueOf(),
);

export async function getStaticPaths() {
	return await withLangPaths();
}

let { lang = "en" } = Astro.params;
let t = useTranslations(lang);
let translatePath = useTranslatedPath(lang);
---

<Page title={t("garden.title")} description={t("themes.description")}>
	<IntroSection
		headline={t("garden.title")}
		subheadline={t("garden.description")}
		callout={`${pages.length} ${t("garden.articles")}`}
	/>

	<div class="h-page-top"></div>

	<section class="wrapper animate-enter space-y-4" style="--stagger: 3">
		{
			pages.map((page) => (
				<ContentCard
					id={page.id}
					href={translatePath(`/garden/${page.id}`)}
					title={page.data.title}
					description={page.data.description}
					image={{
						src: page.data.image,
						alt: page.data.imageAlt,
					}}
					publishedAt={page.data.publishedAt}
					lang={page.data.locale}
				/>
			))
		}
	</section>
</Page>
