---
import FlowerIcon from "@lucide/astro/icons/flower";
import { getAllRepoSlugs, getContributor, getRepoBySlug } from "../../../data";
import {
	getLangFromUrl,
	useTranslatedPath,
	useTranslations,
	withLangPaths,
} from "../../../i18n/utilities";
import Page from "../../../layouts/page.astro";
import { getAstroIconComponent } from "../../../utilities/icons-astro";

export async function getStaticPaths() {
	const slugs = getAllRepoSlugs();
	const entries = slugs.map((slug) => {
		const repo = getRepoBySlug(slug);
		if (!repo) {
			throw new Error(`Missing repo for slug: ${slug}`);
		}
		return {
			params: { theme: slug },
			props: { repo },
		};
	});

	return await withLangPaths(entries);
}

let lang = getLangFromUrl(Astro.url);
let t = useTranslations(lang);
let translatePath = useTranslatedPath(lang);

let { repo } = Astro.props;
---

<Page title={repo.name} description={repo.description}>
	<div class="wrapper flex flex-col gap-12">
		<div
			class="animate-enter mb-12 flex items-center justify-between gap-3"
			style="--stagger: 1"
		>
			<a
				href={translatePath("/themes")}
				class="rounded-full py-1.5 pr-4 pl-3 text-sm font-medium text-subtle transition before:pr-1.5 before:content-['←'] hover:bg-muted/10 hover:text-text"
				>{t("themes.title")}</a
			>
		</div>

		<div class="flex flex-wrap justify-between gap-12 md:flex-nowrap">
			<article>
				<div>
					<div
						class="animate-enter mb-8 flex size-12 items-center justify-center rounded-lg bg-gold/10 text-gold"
						style="--stagger: 1"
					>
						{
							(() => {
								const Icon = getAstroIconComponent(repo.category);
								return <Icon size="32" />;
							})()
						}
					</div>
					<h1
						class="animate-enter mb-4 max-w-2xl text-4xl font-bold tracking-tight text-balance sm:text-6xl"
						style="--stagger: 1"
					>
						{repo.name}
					</h1>
					<p
						class="animate-enter mb-12 max-w-md font-serif text-xl text-subtle italic"
						style="--stagger: 2"
					>
						{repo.description}
					</p>
				</div>
				<div class="flex items-center gap-5">
					<a
						href={repo.url}
						class="animate-enter flex shrink-0 items-center gap-2.5 rounded-lg border border-muted/20 bg-muted/10 px-4 py-2.5 font-medium shadow-sm transition select-none hover:bg-muted/15"
						style="--stagger: 2.5"
					>
						Visit repository
					</a>
				</div>
			</article>

			<aside
				class="animate-enter flex w-full flex-col gap-8 self-start rounded-xl border border-muted/20 bg-surface px-6 py-5 md:max-w-2xs"
				style="--stagger: 3"
			>
				<div>
					<h2 class="mb-4 font-bold">Contributors</h2>
					<ul role="list" class="flex flex-col gap-2">
						{
							repo.contributors.map((contributor) => {
								let { name, url } = getContributor(contributor);
								let avatarUrl = "";
								if (url?.startsWith("https://github.com")) {
									let username = url.replace("https://github.com/", "");
									avatarUrl = `https://avatars.githubusercontent.com/${username}?size=80`;
								}
								return (
									<li>
										<a
											href={url ?? "#!"}
											class="inline-flex items-center gap-2 font-medium"
										>
											{avatarUrl ? (
												<img
													width="20"
													height="20"
													src={avatarUrl}
													alt={name}
													class="rounded-md border border-muted/10"
												/>
											) : (
												<div class="flex size-5 items-center justify-center rounded-md border border-gold/10 bg-gold/10">
													<FlowerIcon size="16" class="text-gold" />
												</div>
											)}
											{name}
										</a>
									</li>
								);
							})
						}
					</ul>
				</div>

				{
					repo.tags.length > 0 ? (
						<div>
							<h2 class="mb-4 font-bold">Tags</h2>
							<ul role="list" class="flex flex-wrap gap-2">
								{repo.tags.map((tag) => (
									<li class="inline-flex items-center rounded-full border border-foam/20 bg-foam/5 px-2 text-xs/5 font-medium text-foam">
										{tag}
									</li>
								))}
							</ul>
						</div>
					) : (
						""
					)
				}

				{
					repo.updatedAt ? (
						<div>
							<time
								datetime={repo.updatedAt}
								class="text-sm font-medium text-subtle italic"
							>
								Updated on{" "}
								{new Date(repo.updatedAt).toLocaleDateString([lang, "en"], {
									year: "numeric",
									month: "long",
									day: "numeric",
								})}
							</time>
						</div>
					) : (
						""
					)
				}
			</aside>
		</div>
	</div>
</Page>
