---
import Layout from "../../../layouts/Layout.astro";
import IntroSection from "../../../components/intro-section.astro";
import BoxIcon from "../../../assets/box.svg";
import {
	useTranslatedPath,
	useTranslations,
	withLangPaths,
} from "../../../i18n/utilities";
import { getSortedRepos, getContributorCount } from "../../../data";

export async function getStaticPaths() {
	return await withLangPaths();
}

let { lang = "en" } = Astro.params;
let t = useTranslations(lang);
let translatePath = useTranslatedPath(lang);

let sortedRepos = getSortedRepos();

let repoCount = sortedRepos.length;
let contributorCount = getContributorCount();
---

<Layout title={t("themes.title")} description={t("themes.description")}>
	<IntroSection
		headline={t("themes.title")}
		subheadline={t("themes.description")}
		callout={`${repoCount} ports & ${contributorCount} contributors`}
	/>

	<div class="h-page-top"></div>

	<section
		class="wrapper animate-enter grid grid-cols-2 gap-5 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5"
		style="--stagger: 3"
	>
		{
			sortedRepos.map((repo) => (
				<article>
					<a
						href={translatePath(`/themes/${repo.slug}`)}
						aria-labelledby={repo.slug}
						class="group relative isolate flex h-full flex-col gap-2.5 rounded-2xl border border-overlay bg-surface p-5 transition hover:border-iris/20 hover:bg-iris/5"
					>
						<BoxIcon width={20} height={20} class="text-subtle" />
						<h2 id={repo.slug} class="font-medium">
							{repo.name}
						</h2>
					</a>
				</article>
			))
		}
	</section>
</Layout>
