---
import { Image } from "astro:assets";
import { languages } from "../i18n/ui";
import { type Lang } from "../i18n/utilities";

export type Props = {
	id: string;
	href: string;
	title: string;
	description: string;
	image?: {
		src: string | ImageMetadata;
		alt: string;
	};
	publishedAt?: Date;
	lang?: Lang;
};

const { id, href, title, description, image, publishedAt, lang } = Astro.props;
---

<article>
	<a
		href={href}
		aria-labelledby={`${id}-title`}
		aria-describedby={`${id}-description`}
		class="flex h-full w-full flex-col gap-(--card-gutter) rounded-(--card-radius) border border-overlay bg-surface p-(--card-gutter) transition [--card-gutter:--spacing(5)] [--card-inner-radius:calc(var(--card-radius)/2)] [--card-radius:--spacing(6)] hover:border-iris/20 hover:bg-iris/5"
	>
		{
			image && (
				<Image
					src={image.src as any}
					alt={image.alt}
					width={2000}
					height={1200}
					class="h-42 w-full rounded-(--card-inner-radius) border border-base object-cover"
				/>
			)
		}
		<div class="w-full">
			<h2
				id={`${id}-title`}
				class="line-clamp-2 text-lg font-semibold tracking-tight"
			>
				{title}
			</h2>
			<div id={`${id}-description`} class="mt-1 line-clamp-2 text-subtle">
				{description}
			</div>
			{href.startsWith("http") && <div class="link">View project &nearr;</div>}
			{
				(lang || publishedAt) && (
					<div class="mt-2 flex items-center gap-3">
						{lang && (
							<div
								title={languages[lang]}
								class="rounded-sm bg-text px-1 py-px font-mono text-[10px] font-semibold text-surface uppercase"
							>
								{lang}
							</div>
						)}
						{publishedAt && (
							<div class="text-sm text-muted italic">
								{publishedAt.toLocaleString(lang, {
									dateStyle: "long",
								})}
							</div>
						)}
					</div>
				)
			}
		</div>
	</a>
</article>
