---
import { Image } from "astro:assets";
import { languages } from "../i18n/ui";
import { type Lang } from "../i18n/utilities";

export type Props = {
	id: string;
	href: string;
	title: string;
	description: string;
	image?: {
		src: string | ImageMetadata;
		alt: string;
	};
	lang?: Lang;
};

const { id, href, title, description, image, lang } = Astro.props;
---

<article>
	<a
		href={href}
		aria-labelledby={`${id}-title`}
		aria-describedby={`${id}-description`}
		class="flex h-full w-full flex-col rounded-(--card-radius) border border-overlay bg-surface transition [--card-gutter:--spacing(5)] [--card-inner-radius:calc(var(--card-radius)/2)] [--card-radius:--spacing(6)] hover:border-iris/20 hover:bg-iris/5"
	>
		{
			image && (
				<Image
					src={image.src as any}
					alt={image.alt}
					width={1000}
					height={600}
					class="h-56 w-full rounded-(--card-radius) border border-base object-cover"
				/>
			)
		}
		<div class="w-full p-(--card-gutter)">
			<h2
				id={`${id}-title`}
				class="line-clamp-2 text-lg font-semibold tracking-tight"
			>
				{title}
			</h2>
			<div id={`${id}-description`} class="mt-1 line-clamp-2 text-subtle">
				{description}
			</div>
			{href.startsWith("http") && <div class="link">View project &nearr;</div>}
			{
				lang && (
					<div class="mt-2 flex items-center gap-3">
						<div
							title={languages[lang]}
							class="rounded-sm bg-text px-1 py-px font-mono text-[10px] font-semibold text-surface uppercase"
						>
							{lang}
						</div>
					</div>
				)
			}
		</div>
	</a>
</article>
