---
import LoveAll from "./love-all.astro";
import BadgeIcon from "../assets/badge.svg";
import { languages } from "../i18n/ui";
import {
	getLangFromUrl,
	getUrlWithoutLang,
	useTranslatedPath,
	useTranslations,
} from "../i18n/utilities";

let lang = getLangFromUrl(Astro.url);
let t = useTranslations(lang);
let translatePath = useTranslatedPath(lang);

let resourceItems = [
	{
		name: t("footer.resource.create"),
		href: translatePath("/create/create-a-theme"),
	},
	{
		name: t("footer.resource.submit"),
		href: translatePath("/create/submit-a-theme"),
	},
	{
		name: t("footer.resource.translate"),
		href: translatePath("/create/add-a-translation"),
	},
];

let collectionItems = [
	{
		name: t("footer.collection.photography"),
		href: translatePath("/collections/photography"),
	},
];

let socialItems = [
	{ name: "Email", href: "mailto:ciao@rosepinetheme.com" },
	{ name: "GitHub", href: "https://github.com/rose-pine" },
	{ name: "Discord", href: "https://discord.gg/r6wf35KVJW" },
];
---

<footer class="wrapper py-page-top">
	<nav
		aria-label={t("footer.nav_label")}
		class="grid grid-cols-1 gap-10 sm:grid-cols-2 md:grid-cols-[auto_auto_auto_auto_1fr] md:gap-20"
	>
		<ul class="leading-loose">
			<li class="font-medium">{t("footer.heading.resources")}</li>
			{
				resourceItems.map((item) => (
					<li>
						<a href={item.href} class="link">
							{item.name}
						</a>
					</li>
				))
			}
		</ul>

		<ul class="leading-loose">
			<li class="font-medium">{t("footer.heading.collections")}</li>
			{
				collectionItems.map((item) => (
					<li>
						<a href={item.href} class="link">
							{item.name}
						</a>
					</li>
				))
			}
		</ul>

		<ul class="leading-loose">
			<li class="font-medium">{t("footer.heading.social")}</li>
			{
				socialItems.map((item) => (
					<li>
						<a href={item.href} class="link">
							{item.name}
						</a>
					</li>
				))
			}
		</ul>

		<ul class="leading-loose">
			<li class="font-medium">
				{t("shared.language")}
			</li>
			{
				Object.entries(languages).map(([lang, label]) => (
					<li>
						<a
							href={translatePath(getUrlWithoutLang(Astro.url), lang)}
							class="link"
						>
							{label}
						</a>
					</li>
				))
			}
		</ul>

		<div class="flex self-start md:justify-end">
			<a href={translatePath("/")} class="shrink-0">
				<BadgeIcon width="36" height="36" />
				<span class="sr-only">{t("nav.home")}</span>
			</a>
		</div>
	</nav>
</footer>

<div class="flex justify-center">
	<LoveAll />
</div>

<div class="h-page-top"></div>
