---
import BadgeIcon from "../assets/badge.svg";
import {
	getLocaleFromUrl,
	getUrlWithoutLocale,
	languages,
	useTranslatedPath,
	useTranslations,
} from "../utilities/i18n";
import { objectEntries } from "../utilities/object";
import LoveAll from "./love-all.astro";
import SiteAppearance from "./site-appearance.svelte";

let locale = getLocaleFromUrl(Astro.url);
let t = useTranslations(locale);
let translatePath = useTranslatedPath(locale);

let resourceItems = [
	{
		name: t("footer.resource.create"),
		href: translatePath("/create/create-a-theme"),
	},
	{
		name: t("footer.resource.submit"),
		href: translatePath("/create/submit-a-theme"),
	},
	{
		name: t("footer.resource.translate"),
		href: translatePath("/create/add-a-translation"),
	},
];

let collectionItems = [
	{
		name: t("footer.collection.photography"),
		href: translatePath("/collections/photography"),
	},
];

let socialItems = [
	{ name: "Email", href: "mailto:ciao@rosepinetheme.com" },
	{ name: "GitHub", href: "https://github.com/rose-pine" },
	{ name: "Discord", href: "https://discord.gg/r6wf35KVJW" },
];
---

<footer class="wrapper py-page-start">
	<nav
		aria-label={t("footer.nav_label")}
		class="cluster-10 pbe-page-start *:last:ms-auto"
	>
		<section class="stack">
			<h2>{t("shared.language")}</h2>
			<ul class="stack-2">
				{
					objectEntries(languages).map(([locale, { name }]) => (
						<li>
							<a href={translatePath(getUrlWithoutLocale(Astro.url), locale)}>
								{name}
							</a>
						</li>
					))
				}
			</ul>
		</section>

		<section class="stack">
			<h2>{t("footer.heading.resources")}</h2>
			<ul class="stack-2">
				{
					resourceItems.map((item) => (
						<li>
							<a href={item.href}>{item.name}</a>
						</li>
					))
				}
			</ul>
		</section>

		<section class="stack">
			<h2>{t("footer.heading.collections")}</h2>
			<ul class="stack-2">
				{
					collectionItems.map((item) => (
						<li>
							<a href={item.href}>{item.name}</a>
						</li>
					))
				}
			</ul>
		</section>

		<section class="stack">
			<h2>{t("footer.heading.social")}</h2>
			<ul class="stack-2">
				{
					socialItems.map((item) => (
						<li>
							<a href={item.href}>{item.name}</a>
						</li>
					))
				}
			</ul>
		</section>

		<div class="cluster items-center">
			<SiteAppearance client:load />

			<a href={translatePath("/")}>
				<BadgeIcon width="36" height="36" />
				<span class="sr-only">{t("nav.home")}</span>
			</a>
		</div>
	</nav>

	<div class="cluster justify-center">
		<LoveAll />
	</div>
</footer>

<style>
	section {
		& h2 {
			font-weight: 500;
		}
		& a {
			color: var(--color-subtle);
			text-decoration: none;
			text-underline-offset: 2px;

			&:hover {
				text-decoration: underline;
			}
		}
	}
</style>
