---
import LoveAll from "./love-all.astro";
import BadgeIcon from "../assets/badge.svg";
import { languages } from "../i18n/ui";
import {
	getLangFromUrl,
	getUrlWithoutLang,
	useTranslatedPath,
	useTranslations,
} from "../i18n/utilities";

let lang = getLangFromUrl(Astro.url);
let t = useTranslations(lang);
let translatePath = useTranslatedPath(lang);

let resourceItems = [
	{ name: "Create a theme", href: "#!" },
	{ name: "Add a translation", href: "#!" },
	{ name: "Repository template", href: "#!" },
];

let socialItems = [
	{ name: "Email", href: "mailto:ciao@rosepinetheme.com" },
	{ name: "GitHub", href: "https://github.com/rose-pine" },
	{ name: "Discord", href: "https://discord.gg/r6wf35KVJW" },
];
---

<footer class="wrapper py-page-top">
	<nav
		aria-label={t("footer.nav_label")}
		class="grid grid-cols-1 gap-10 sm:grid-cols-2 md:grid-cols-[auto_auto_auto_1fr] md:gap-20"
	>
		<ul class="text-sm leading-loose">
			<li class="font-medium">Resources</li>
			{
				resourceItems.map((item) => (
					<li>
						<a href={item.href} class="text-subtle transition hover:text-text">
							{item.name}
						</a>
					</li>
				))
			}
		</ul>

		<ul class="text-sm leading-loose">
			<li class="font-medium">Social</li>
			{
				socialItems.map((item) => (
					<li>
						<a href={item.href} class="text-subtle transition hover:text-text">
							{item.name}
						</a>
					</li>
				))
			}
		</ul>

		<ul class="text-sm leading-loose">
			<li class="font-medium">
				{t("shared.language")}
			</li>
			{
				Object.entries(languages).map(([lang, label]) => (
					<li>
						<a
							href={translatePath(getUrlWithoutLang(Astro.url), lang)}
							class="text-subtle transition hover:text-text"
						>
							{label}
						</a>
					</li>
				))
			}
		</ul>

		<div class="flex self-start md:justify-end">
			<a href={translatePath("/")} class="shrink-0">
				<BadgeIcon width="36" height="36" />
				<span class="sr-only">t("nav.home")</span>
			</a>
		</div>
	</nav>
</footer>

<div class="flex justify-center">
	<LoveAll />
</div>

<div class="h-page-top"></div>
