---
import SparklesIcon from "@lucide/astro/icons/sparkles";
import BadgeIcon from "../assets/badge.svg";
import { getFeaturedRepos, getSortedRepos } from "../data";
import palette from "../data/palette.json";
import {
	getLangFromUrl,
	useTranslatedPath,
	useTranslations,
} from "../i18n/utilities";
import CommandMenu from "./command-menu.svelte";

let lang = getLangFromUrl(Astro.url);
let t = useTranslations(lang);
let translatePath = useTranslatedPath(lang);

let menuItems = [
	{ name: t("nav.themes"), href: translatePath("/themes") },
	{ name: t("nav.palette"), href: translatePath("/palette") },
];

let searchGroups = [
	{
		heading: "Pages",
		items: [
			{ label: "Home", href: translatePath("/"), icon: "house" },
			{
				label: t("nav.themes"),
				href: translatePath("/themes"),
				icon: "sailboat",
			},
			{
				label: t("nav.palette"),
				href: translatePath("/palette"),
				icon: "palette",
			},
			{
				label: t("nav.create"),
				href: translatePath("/create"),
				icon: "sparkles",
			},
		],
	},
	{
		heading: "Themes",
		items: getSortedRepos().map((repo) => ({
			label: repo.name,
			href: translatePath(`/themes/${repo.slug}`),
			icon: "book-text",
		})),
	},
	{
		heading: "Palette",
		items: palette.main.map((color) => ({
			label: color.role,
			href: translatePath(`/palette/${color.role}`),
			icon: color.role,
		})),
	},
	{
		heading: "Community",
		items: [
			{ label: "Email", href: "mailto:hi@rosepinetheme.com", icon: "mail" },
			{
				label: "Discord",
				href: "https://discord.gg/r6wf35KVJW",
				icon: "discord",
			},
			{ label: "GitHub", href: "https://github.com/rose-pine", icon: "github" },
		],
	},
];

let defaultGroups = [
	searchGroups[0],
	{
		heading: "Featured themes",
		items: getFeaturedRepos().map((repo) => ({
			label: repo.name,
			href: `/themes/${repo.slug}`,
			icon: "book-text",
		})),
	},
	...searchGroups.slice(2),
];
---

<header
	class="wrapper relative mt-page-top flex items-center gap-6 py-(--card-gutter) [--badge-size:44px] [--card-gutter:var(--spacing-page-gutter-half)] [--card-inner-radius:calc(var(--card-radius)/2)] [--card-radius:1rem] [--nav-item-px:--spacing(3)]"
>
	<a
		title={t("nav.home")}
		href={translatePath("/")}
		class="z-50 flex shrink-0 items-center gap-3 rounded-lg"
	>
		<BadgeIcon class="size-(--badge-size) shrink-0" />
		<span class="pr-1 font-serif text-xl font-medium tracking-tight italic"
			>Rosé Pine</span
		>
	</a>

	<div class="flex flex-1 items-center justify-end">
		<CommandMenu {defaultGroups} {searchGroups} client:only="svelte" />
	</div>

	<div class="z-50 h-7 w-px bg-muted/20 md:-mr-(--nav-item-px)"></div>

	<nav aria-label={t("header.nav_label")} class="hidden md:block">
		<ul class="flex items-center gap-1.5">
			{
				menuItems.map((item) => (
					<li>
						<a
							href={item.href}
							class="flex h-8 items-center rounded-lg px-(--nav-item-px) font-medium transition hover:bg-muted/10"
						>
							{item.name}
						</a>
					</li>
				))
			}
			<li class="pl-3">
				<a
					href={translatePath("/create")}
					class="group/cta flex h-8 shrink-0 items-center gap-2 rounded-lg border border-text pr-4 pl-3 font-serif italic transition hover:border-gold hover:bg-gold/10 hover:text-gold"
				>
					<SparklesIcon
						size="16"
						class="transition-transform group-hover/cta:-rotate-3"
					/>
					<span class="pb-px">{t("nav.create")}</span>
				</a>
			</li>
		</ul>
	</nav>

	<details class="group/menu block select-none md:hidden">
		<summary
			class="relative z-50 flex size-(--badge-size) cursor-pointer items-center justify-center rounded-(--card-inner-radius) transition hover:bg-muted/10 [&::-webkit-details-marker]:hidden"
		>
			<svg
				width="20"
				height="20"
				viewBox="0 0 16 16"
				fill="currentColor"
				xmlns="http://www.w3.org/2000/svg"
			>
				<rect
					x="0"
					y="7.5"
					width="16"
					height="1.5"
					rx="0.5"
					class="origin-center translate-y-[-3.5px] transition-transform duration-150 group-open/menu:translate-y-0 group-open/menu:rotate-45"
				></rect>
				<rect
					x="0"
					y="7.5"
					width="16"
					height="1.5"
					rx="0.5"
					class="origin-center translate-y-[3.5px] transition-transform duration-150 group-open/menu:translate-y-0 group-open/menu:-rotate-45"
				></rect>
			</svg>
		</summary>

		<nav
			aria-label={t("header.nav_label")}
			class="absolute inset-x-(--card-gutter) top-0 z-40 rounded-(--card-radius) bg-surface/80 pt-(--badge-size) shadow-lg shadow-black/10 backdrop-blur-xl backdrop-saturate-150 transition"
		>
			<div class="h-(--card-gutter)"></div>
			<ul class="flex flex-col p-(--card-gutter)">
				{
					menuItems.map((item) => (
						<li>
							<a
								href={item.href}
								class="flex h-14 w-full items-center rounded-(--card-inner-radius) text-xl font-semibold transition-[background-color,padding] hover:bg-muted/10 hover:pl-page-gutter-half"
							>
								{item.name}
							</a>
						</li>
					))
				}
				<li class="w-full pt-3">
					<a
						href={translatePath("/create")}
						class="group/cta flex h-14 shrink-0 items-center justify-center gap-4 rounded-(--card-inner-radius) border border-text pr-5 pl-4 font-serif text-xl italic transition hover:border-gold hover:bg-gold/10 hover:text-gold"
					>
						<SparklesIcon width={24} height={24} stroke-width="1.5" />
						<span class="pb-px">{t("nav.create")}</span>
					</a>
				</li>
			</ul>
		</nav>
	</details>
</header>

<style>
	details[open] > *:not(summary) {
		animation: details-show 150ms ease-in-out;
	}

	@keyframes details-show {
		from {
			opacity: 0;
			transform: translateY(0.5rem) scale(0.98);
		}
	}
</style>
