---
import { t } from "i18next";
import { localizePath } from "astro-i18next";
import { roles, roleKeys } from "@rose-pine/palette";
import LanguageSelect from "$components/language-select.svelte";
import CommandMenu from "$components/command-menu";
import { themes } from "$data/themes";

function isCurrentPage(url: string) {
	return Astro.url.pathname.replace(/(\/.*?)\/$/, "$1") === localizePath(url);
}

const groups = [
	{
		name: t("global_search.heading_pages"),
		items: [
			{
				icon: "Home",
				name: t("navigation.home"),
				href: localizePath("/"),
			},
			{
				icon: "Sailboat",
				name: t("navigation.themes"),
				href: localizePath("/themes"),
			},
			{
				icon: "Palette",
				name: t("navigation.palette"),
				href: localizePath("/palette"),
			},
			{
				icon: "Salt",
				name: t("navigation.ingredients"),
				href: localizePath("/palette/ingredients"),
			},
			{
				icon: "FileDescription",
				name: t("navigation.resources"),
				href: localizePath("/resources"),
			},
		],
	},
	{
		name: t("global_search.heading_themes"),
		featuredName: t("global_search.heading_featured_themes"),
		items: themes.map((theme) => ({
			icon: "Notebook",
			name: theme.name,
			href: theme.url,
		})),
		featuredItems: themes
			.filter((theme) => theme.featured)
			.map((theme) => ({
				icon: "Notebook",
				name: theme.name,
				href: theme.url,
			})),
	},
	{
		name: t("global_search.heading_palette"),
		items: roleKeys.map((role) => ({
			color: `hsl(var(--color-${roles[role].id}))`,
			name: roles[role].name,
			href: `/palette#${roles[role].id}`,
		})),
	},
	{
		name: t("global_search.heading_community"),
		items: [
			{
				icon: "BrandGithubFilled",
				name: "GitHub",
				href: "https://github.com/rose-pine",
			},
			{
				icon: "BrandDiscordFilled",
				name: "Discord",
				href: "https://discord.gg/r6wf35KVJW",
			},
			{
				icon: "BrandTwitterFilled",
				name: "Twitter",
				href: "https://twitter.com/rosepinetheme",
			},
		],
	},
];

const menu = [
	[t("navigation.themes"), "/themes"],
	[t("navigation.palette"), "/palette"],
	[t("navigation.resources"), "/resources"],
];
---

<header class="flex h-header-height justify-center px-page-gutter">
	<div
		class="flex w-full max-w-content items-center justify-between space-x-2.5"
	>
		<a
			href={isCurrentPage("/") ? "#" : localizePath("/")}
			aria-current={isCurrentPage("/") ? "page" : undefined}
			class="-ml-2.5 flex shrink-0 items-center space-x-3 rounded-md px-2.5 py-1.5 transition focus:outline-none focus:ring"
		>
			<svg width="20" viewBox="0 0 198 188" aria-hidden="true">
				<path
					style="fill: hsl(var(--color-pine) / 0.5)"
					d="M98.9824 152.25C94.1645 140.61 84.1877 131.253 71.1002 127.727L14.9408 112.599C7.82924 139.282 23.6151 166.976 50.2789 174.159L90.5058 184.995C93.3596 185.764 96.2625 184.961 98.2972 183.114C100.304 185.655 103.699 186.897 107.028 186.001L147.255 175.164C173.918 167.982 189.704 140.287 182.593 113.604L126.433 128.733C113.725 132.156 103.949 141.078 98.9824 152.25Z"
				></path>
				<path
					style="fill: hsl(var(--color-pine))"
					d="M99 177.99C94.3676 155.116 74.1899 137.733 50 137.733L0 137.733C0 165.347 22.3858 188 50 188H98H100H148C175.614 188 198 165.347 198 137.733L148 137.733C123.81 137.733 103.632 155.116 99 177.99Z"
				></path>
				<path
					style="fill: hsl(var(--color-rose))"
					d="M116.172 22.0991C111.969 13.1397 105.096 5.32759 95.9178 0L83.9001 20.9265C83.5434 21.5477 83.2015 22.1733 82.8743 22.8031C70.8317 12.8076 54.2791 8.62488 38.0001 13.0102L51.0053 61.8058C55.7428 79.5809 69.4827 92.5279 86.0109 97.068L85.9999 97.1091C90.3717 98.2868 94.7632 98.8465 99.0818 98.8417C103.405 98.8478 107.802 98.2881 112.178 97.1091L112.167 97.0679C128.696 92.5279 142.435 79.5809 147.173 61.8058L160.178 13.0102C144.287 8.72929 128.135 12.6132 116.172 22.0991Z"
				></path>
			</svg>

			<span
				class="sr-only font-display text-lg font-bold tracking-tight sm:not-sr-only"
				>Rosé Pine</span
			>
		</a>

		<nav aria-label="Main">
			<ul role="list" class="flex items-center gap-3">
				{
					menu.map(([name, href]) => (
						<li>
							<a
								href={localizePath(href)}
								aria-current={isCurrentPage(href) ? "page" : undefined}
								class="rounded-md px-2.5 py-1.5 text-[15px] font-semibold transition hover:bg-muted/10 focus:outline-none focus:ring focus:ring-inset"
							>
								{name}
							</a>
						</li>
					))
				}

				<li class="h-6 border-r" aria-hidden="true"></li>

				<li><LanguageSelect /></li>

				<li class="h-6 border-r" aria-hidden="true"></li>

				<li>
					<CommandMenu
						client:load
						groups={groups}
						triggerText={t("global_search.trigger")}
						searchText={t("global_search.placeholder")}
						emptyText={t("global_search.empty_text")}
						emptyResults={[
							[t("global_search.empty_result_1"), localizePath("/themes")],
							[t("global_search.empty_result_2"), localizePath("/resources")],
						]}
					/>
				</li>
			</ul>
		</nav>
	</div>
</header>
