---
import ArrowUpRightIcon from "@lucide/astro/icons/arrow-up-right";
import FlowerIcon from "@lucide/astro/icons/flower";
import ThemeCard from "../../../components/theme-card.svelte";
import ThemeIcon from "../../../components/theme-icon.astro";
import { getAllRepos } from "../../../data";
import Page from "../../../layouts/page.astro";
import type { Repo } from "../../../types/theme";
import {
	getLocaleFromUrl,
	useTranslatedPath,
	useTranslations,
	withLocalePaths,
} from "../../../utilities/i18n";
import { isValidIconCategory } from "../../../utilities/icons";

export async function getStaticPaths() {
	const repos = await getAllRepos();
	const entries = repos.map((repo) => {
		const relatedRepos = repos.filter(
			(r) => repo.related.includes(r.slug) || r.related.includes(repo.slug),
		);
		return {
			params: { theme: repo.slug },
			props: { repo, relatedRepos },
		};
	});
	return await withLocalePaths(entries);
}

let locale = getLocaleFromUrl(Astro.url);
let t = useTranslations(locale);
let translatePath = useTranslatedPath(locale);

let { repo, relatedRepos = [] as Repo[] } = Astro.props;
---

<Page title={repo.name} description={`Soho vibes for ${repo.name}`}>
	<div class="wrapper">
		<div
			class="animate-enter mb-12 flex items-center justify-between gap-3"
			style="--stagger: 1"
		>
			<a
				href={translatePath("/themes")}
				class="rounded-full py-1.5 ps-3 pe-4 text-sm font-medium text-subtle transition before:pe-1.5 before:content-['←'] hover:bg-muted/10 hover:text-text rtl:before:content-['→']"
				>{t("themes.title")}</a
			>
		</div>

		<div class="flex flex-wrap justify-between gap-12 md:flex-nowrap">
			<article class="flex-1">
				<div>
					<div class="animate-enter mb-8" style="--stagger: 1">
						{
							isValidIconCategory(repo.category) && (
								<ThemeIcon category={repo.category} size="lg" />
							)
						}
					</div>
					<h1
						class="animate-enter mb-16 max-w-2xl text-4xl font-bold tracking-tight text-balance sm:text-6xl"
						style="--stagger: 1"
					>
						{repo.name}
					</h1>
				</div>
				<div class="animate-enter flex" style="--stagger: 2.5">
					<a
						href={repo.url}
						class="group/cta flex h-8 shrink-0 items-center gap-2 rounded-lg border-2 border-text ps-3 pe-4 font-serif font-medium italic transition hover:border-gold hover:bg-gold/10 hover:text-gold"
					>
						<ArrowUpRightIcon
							size="16"
							class="transition-transform group-hover/cta:-rotate-3"
						/>
						<span class="pb-px">Visit repository</span>
					</a>
				</div>

				<div class="h-12"></div>

				{
					repo.subthemes.length > 0 ? (
						<div class="animate-enter" style="--stagger: 2.75">
							<ul role="list" class="auto-grid-40 gap-2">
								{repo.subthemes.map((theme) => (
									<li>
										<a
											href={theme.url}
											class="flex rounded-md border tonal-text px-3 py-1.5 font-mono text-sm font-medium hover:tonal-pressed-text"
										>
											{theme.name}
										</a>
									</li>
								))}
							</ul>
						</div>
					) : (
						""
					)
				}
			</article>

			<aside
				class="flex w-full flex-col gap-8 self-start rounded-xl border border-muted/20 bg-surface px-6 py-5 md:max-w-2xs"
			>
				<div>
					<h2 class="mb-4 font-bold">Contributors</h2>
					<ul role="list" class="flex flex-col gap-2">
						{
							repo.contributors.map((contributor) => (
								<li>
									<a
										href={contributor.url ?? "#!"}
										class="inline-flex items-center gap-2 font-medium"
									>
										{contributor.image ? (
											<img
												width="20"
												height="20"
												src={contributor.image}
												alt={contributor.name}
												class="rounded-md border border-muted/10 bg-overlay"
											/>
										) : (
											<div class="flex size-5 items-center justify-center rounded-md border border-gold/10 bg-gold/10">
												<FlowerIcon size="16" class="text-gold" />
											</div>
										)}
										{contributor.name}
									</a>
								</li>
							))
						}
					</ul>
				</div>

				{
					repo.tags.length > 0 ? (
						<div>
							<h2 class="mb-4 font-bold">Tags</h2>
							<ul role="list" class="flex flex-wrap gap-2">
								{repo.tags.map((tag) => (
									<li class="inline-flex items-center rounded-full border border-foam/20 bg-foam/5 px-2 text-xs/5 font-medium text-foam">
										{tag}
									</li>
								))}
							</ul>
						</div>
					) : (
						""
					)
				}

				{
					relatedRepos.length > 0 ? (
						<div>
							<h2 class="mb-4 font-bold">Related</h2>
							<ul role="list" class="flex flex-col gap-2">
								{relatedRepos.map((related) => (
									<li>
										<ThemeCard theme={related} client:only="svelte" />
									</li>
								))}
							</ul>
						</div>
					) : (
						""
					)
				}

				{
					repo.updatedAt ? (
						<div>
							<time
								datetime={repo.updatedAt}
								class="text-sm font-medium text-subtle italic"
							>
								Updated on{" "}
								{new Date(repo.updatedAt).toLocaleDateString([locale, "en"], {
									year: "numeric",
									month: "long",
									day: "numeric",
								})}
							</time>
						</div>
					) : (
						""
					)
				}
			</aside>
		</div>
	</div>
</Page>
