---
import BadgeIcon from "../../../assets/badge.svg";
import CopyColorButton from "../../../components/copy-color-button.svelte";
import IntroSection from "../../../components/intro-section.astro";
import PaletteColumnActions from "../../../components/palette-column-actions.svelte";
import PaletteStyleToggle from "../../../components/palette-style-toggle.svelte";
import palette from "../../../data/palette.json";
import {
	useTranslatedPath,
	useTranslations,
	withLocalePaths,
} from "../../../i18n/utilities";
import Page from "../../../layouts/page.astro";

export async function getStaticPaths() {
	return await withLocalePaths();
}

let { locale = "en" } = Astro.params;
let t = useTranslations(locale);
let translatePath = useTranslatedPath(locale);

let variants = Object.keys(palette) as (keyof typeof palette)[];
---

<Page title={t("palette.title")} description={t("palette.description")}>
	<IntroSection
		headline={t("palette.title")}
		subheadline={t("palette.description")}
		callout={`${variants.length} ${t("palette.variants")} & ${palette.main.length} ${t("palette.colours")}`}
	/>

	<section class="wrapper">
		<div class="animate-enter" style="--stagger: 3">
			<div class="flex flex-col gap-page-top">
				{
					variants.map((variant) => (
						<article class="overflow-hidden rounded-(--card-radius) border border-muted/20 bg-surface [--card-gutter:--spacing(5)] [--card-inner-radius:calc(var(--card-radius)/2)] [--card-radius:--spacing(4)]">
							<div class="flex flex-wrap items-center justify-between gap-2 p-(--card-gutter) [--badge-size:36px]">
								<div class="flex items-center gap-2">
									<BadgeIcon class="size-(--badge-size) shrink-0" />
									<div class="font-serif text-lg font-medium tracking-tight capitalize italic">
										Rosé Pine
										{variant === "main" ? "" : variant}
									</div>
								</div>
								<div>
									<PaletteStyleToggle client:only="svelte" />
								</div>
							</div>

							<div class="overflow-x-auto">
								<table class="w-full min-w-max overflow-x-auto [--col-gap:--spacing(12)]">
									<thead class="*:h-10 *:border-b *:border-b-muted/10">
										<th class="ps-(--card-gutter) text-start text-sm font-semibold">
											Role
										</th>
										<th class="ps-(--col-gap) text-end text-sm font-semibold">
											<div class="flex w-full items-center justify-end">
												<PaletteColumnActions
													client:only="svelte"
													format="hex"
													variant={variant}
												>
													Hex
												</PaletteColumnActions>
											</div>
										</th>
										<th class="ps-(--col-gap) text-end text-sm font-semibold">
											<div class="flex w-full items-center justify-end">
												<PaletteColumnActions
													client:only="svelte"
													format="hsl"
													variant={variant}
												>
													HSL
												</PaletteColumnActions>
											</div>
										</th>
										<th class="ps-(--col-gap) text-end text-sm font-semibold">
											<div class="flex w-full items-center justify-end">
												<PaletteColumnActions
													client:only="svelte"
													format="rgb"
													variant={variant}
												>
													RGB
												</PaletteColumnActions>
											</div>
										</th>
										<th class="sr-only" />
									</thead>

									<tbody class="[--cell-gutter:calc(var(--card-gutter)-var(--cell-offset))] [--cell-offset:--spacing(2)]">
										{palette[variant].map((color) => {
											return (
												<tr class="bg-surface *:py-(--cell-gutter) even:bg-muted/5">
													<td class="ps-(--card-gutter)">
														<div class="flex">
															<a
																href={translatePath(`/palette/${color.role}`)}
																class="flex items-center gap-2 rounded-(--card-inner-radius) px-(--cell-offset) py-[calc(var(--cell-offset)/2)] hover:bg-muted/10"
															>
																<div
																	class="size-4 rounded-full border border-muted/20"
																	style={{ background: `#${color.hex}` }}
																/>
																<div class="pb-px text-[15px] font-medium capitalize">
																	{color.role}
																</div>
															</a>
														</div>
													</td>

													<td class="ps-(--col-gap)">
														<CopyColorButton
															client:only="svelte"
															{color}
															format="hex"
														/>
													</td>

													<td class="ps-(--col-gap)">
														<CopyColorButton
															client:only="svelte"
															{color}
															format="hsl"
														/>
													</td>

													<td class="ps-(--col-gap)">
														<CopyColorButton
															client:only="svelte"
															{color}
															format="rgb"
														/>
													</td>

													<td class="w-(--card-gutter)" />
												</tr>
											);
										})}
									</tbody>
								</table>
							</div>
						</article>
					))
				}
			</div>
		</div>
	</section>
</Page>
