---
import { languages } from "../i18n/ui";
import {
	getLangFromUrl,
	getUrlWithoutLang,
	useTranslatedPath,
	useTranslations,
} from "../i18n/utilities";
import "../styles/global.css";

type Props = {
	title: string;
	description: string;
};
let { title, description } = Astro.props;

let lang = getLangFromUrl(Astro.url);
let t = useTranslations(lang);
let translatePath = useTranslatedPath(lang);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.png" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - Rosé Pine</title>
	</head>
	<body>
		<a href="#content" class="sr-only focus:not-sr-only">Skip to main content</a
		>

		<header class="wrapper">
			<a href={translatePath("/")}>Rosé Pine</a>
			<nav aria-label={t("header.nav_label")}>
				<ul>
					<li><a href={translatePath("/themes")}>{t("nav.themes")}</a></li>
					<li><a href={translatePath("/palette")}>{t("nav.palette")}</a></li>
					<li><a href={translatePath("/create")}>{t("nav.create")}</a></li>
				</ul>
			</nav>
		</header>

		<main id="content">
			<slot />
		</main>

		<footer class="wrapper">
			<nav aria-label={t("footer.nav_label")}>
				<ul>
					<li>{t("shared.language")}</li>
					{
						Object.entries(languages).map(([lang, label]) => (
							<li>
								<a href={translatePath(getUrlWithoutLang(Astro.url), lang)}>
									{label}
								</a>
							</li>
						))
					}
				</ul>
			</nav>
		</footer>
	</body>
</html>
