---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import "../styles/global.css";
import { getLocaleFromUrl, languages } from "../utilities/i18n";

type Props = {
	title: string;
	description: string;
};
let { title, description } = Astro.props;

let locale = getLocaleFromUrl(Astro.url);
let dir = languages[locale]?.dir ?? "ltr";
---

<!doctype html>
<html
	lang={locale}
	dir={dir}
	class="bg-base text-text antialiased selection:bg-muted/20 selection:text-text max-sm:text-lg"
>
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, viewport-fit=cover"
		/>
		<link rel="icon" href="/favicon.png" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<title>{title} – Rosé Pine</title>

		<script>
			if (localStorage.theme) {
				document.documentElement.dataset.theme = localStorage.theme;
			} else {
				delete document.documentElement.dataset.theme;
			}
		</script>
	</head>
	<body>
		<div class="overflow-clip">
			<div
				class="sr-only gap-3 focus-within:not-sr-only focus-within:fixed focus-within:inset-s-3 focus-within:top-3 focus-within:flex focus-within:items-center"
			>
				<a href="#content" class="rounded bg-surface p-1.5 font-medium"
					>Skip to main content</a
				>
				<a href="#footer-nav" class="rounded bg-surface p-1.5 font-medium"
					>Skip to footer navigation</a
				>
			</div>

			<div aria-hidden="true" class="relative mx-auto">
				<div
					class="pointer-events-none absolute -inset-e-60 -top-44 -z-10 h-60 w-xl -rotate-12 transform-gpu rounded-full bg-linear-to-r from-gold/50 from-30% via-rose/70 via-70% to-iris blur-3xl md:inset-e-0"
				>
				</div>
			</div>

			<div class="flex min-h-dvh flex-col gap-page-start">
				<div>
					<Header />
				</div>

				<main id="content" class="max-w-screen flex-1">
					<slot />
				</main>
			</div>

			<Footer />
		</div>
	</body>
</html>
