---
import { ClientRouter } from "astro:transitions";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import "../styles/global.css";
import { getLocaleFromUrl, languages } from "../utilities/i18n";

type Props = {
	title: string;
	description: string;
};
let { title, description } = Astro.props;

let locale = getLocaleFromUrl(Astro.url);
let dir = languages[locale]?.dir ?? "ltr";
---

<!doctype html>
<html transition:name="root" transition:animate="none" lang={locale} dir={dir}>
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, viewport-fit=cover"
		/>
		<link rel="icon" href="/favicon.png" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<title>{title} – Rosé Pine</title>

		<ClientRouter />

		<script>
			if (localStorage.theme) {
				document.documentElement.dataset.theme = localStorage.theme;
			}
		</script>
	</head>
	<body>
		<div class="overflow-clip">
			<a
				href="#content"
				class="sr-only focus:not-sr-only focus:fixed focus:start-3 focus:top-3 focus:rounded focus:bg-surface focus:p-1.5 focus:font-medium"
				>Skip to main content</a
			>

			<div aria-hidden="true" class="relative mx-auto">
				<div
					class="pointer-events-none absolute -end-60 -top-44 -z-10 h-60 w-xl -rotate-12 transform-gpu rounded-full bg-linear-to-r from-gold/50 from-30% via-rose/70 via-70% to-iris blur-3xl md:end-0"
				>
				</div>
			</div>

			<div class="pancake-stack min-h-dvh gap-page-start">
				<div>
					<Header />
				</div>

				<main id="content" class="max-w-screen">
					<slot />
				</main>

				<div>
					<Footer />
				</div>
			</div>
		</div>
	</body>
</html>
