---
import { t } from "i18next";
import { localizePath } from "astro-i18next";
import Layout from "$layouts/base.astro";
import PageIntro from "$components/page-intro.svelte";

const menu = [
	[t("palette.tabs.swatches"), "/palette"],
	[t("palette.tabs.ingredients"), "/palette/ingredients"],
];

export type Props = {
	metaTitle: string;
	metaDescription: string;
};

const { metaTitle, metaDescription } = Astro.props;
---

<Layout title={metaTitle} description={metaDescription}>
	<PageIntro
		heading={t("palette.title")}
		subheading={t("palette.description")}
		tagline={t("palette.tagline", {
			numberOfVariants: 3,
			numberOfColors: 15,
		})}
		animate={false}
	>
		<ul
			role="list"
			class="flex items-center overflow-hidden rounded-md border bg-surface"
		>
			{
				menu.map(([name, href], index) => (
					<li>
						<a
							href={localizePath(href)}
							aria-current={
								Astro.url.pathname.replace(/(\/.*?)\/$/, "$1") ===
								localizePath(href)
									? "page"
									: undefined
							}
							class:list={[
								{ ["border-r"]: index < menu.length - 1 },
								"flex bg-muted/10 px-4 py-2 text-sm font-medium text-subtle transition hover:text-text focus:outline-none focus:ring focus:ring-inset aria-[current=page]:bg-surface aria-[current=page]:text-text aria-[current=page]:hover:bg-surface",
							]}
						>
							{name}
						</a>
					</li>
				))
			}
		</ul>
	</PageIntro>

	<div class="h-20"></div>

	<section class="animate-enter" style="--stagger: 2">
		<slot />
	</section>
</Layout>
